.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 10px;
    margin: 5px 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .todo-checkbox {
    margin-right: 15px;
  }
  
  .todo-title {
    font-size: 18px;
    flex: 1;
  }
  
  .todo-title.completed {
    text-decoration: line-through;
    color: #888;
  }
  
  .delete-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    margin-left:15px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-btn:hover {
    background-color: #c0392b;
  }
  